main > h3:first-child {
  margin-top: 0;
}

ol {
  list-style-type: decimal;
}

li + ol li,
li + ul li {
  margin-top: 1rem;
}

ul {
  padding-inline-start: 1.5rem;
}

ul:has(li > a) {
  color: var(--link-color);
}
